.header-container {
  position: relative;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-left {
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;

    .total-tasks {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #36a36c;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      cursor: help;
      margin-left: 40px;
    }
  }

  .header-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-right-btn {
      font-size: 16px;
      padding: 10px;
      border-radius: 30px;
      cursor: pointer;
      background: #36a36c;
      margin-right: 40px;
      color: #fff;
      border-color: transparent;

      &:hover {
        box-shadow: 0 0 0 3px #fff;
      }
    }

    .profile-dropdown-container {
      .profile-dropdown {
        width: 190px;
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -45px;
        top: 50px;
        border-radius: 30px;
        background: #594999;
        color: #fff;
        border-color: transparent;

        #circle-avatar {
          display: grid;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: #ffbd30;
          place-items: center;

          span {
            font-size: 48px;
            font-weight: bold;
          }
        }

        .text-center {
          margin: 5px 0;
        }

        .card-body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 20px;
        }

        .profile-logout-btn {
          font-size: larger;
          padding: 2px 11px;
          border-radius: 30px;
          cursor: pointer;
          background: #fff;
          color: #000;
          border-color: transparent;
        }
      }
    }
  }

  .header-title {
    color: #000;
    font-size: 38px;
    margin-left: 68px;
  }
}

@media (max-width: 570px) {
  .header-right {
    .header-right-btn {
      padding: 5px !important;
      margin-right: 20px !important;
    }

    .profile-dropdown-container {
      .profile-dropdown {
        left: -85px !important;
      }
    }
  }
  .header-left {
    .total-tasks {
      width: 38px !important;
      height: 38px !important;
      font-size: 20px !important;
      margin-left: 30px !important;
    }
  }

  .header-title {
    font-size: 30px !important;
    margin-left: 50px !important;
  }
}

@media (max-width: 450px) {
  .header-right {
    .header-right-btn {
      padding: 5px !important;
      margin-right: 10px !important;
    }
  }
  .header-left {
    .total-tasks {
      width: 30px !important;
      height: 30px !important;
      font-size: 20px !important;
      margin-left: 20px !important;
    }
  }

  .header-title {
    font-size: 25px !important;
    margin-left: 30px !important;
  }
}
