:root {
  --primary: #6740af;
  --secondary: #eee;
}

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: gray;
}

body {
  // background-image: linear-gradient(50deg, #a683e3 50%, #e4e9fd 50%);
  background: #594999;
  background-size: cover;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 90%;
  height: 90%;
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px #eee;
  background-color: #e8eaed;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
  z-index: 100;
  backdrop-filter: blur(3px);
}
